.container {
	display: flex;
	margin: auto;
	width: 80vw;

	background-color: black;
	opacity: 0.7;
	color: azure;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.mainH1 {
	font-size: 36px;
	text-align: center;
}

.score {
	font-size: 24px;
	text-align: center;
}

.start {
	width: 150px;
	height: 70px;
	background-color: green;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border-radius: 20px;
}
