.cardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.q-card,
.q-card-answer {
	width: 300px;
	min-height: 150px;
	border-radius: 10px;
	margin: auto;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	-webkit-box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.57);
	box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.57);
	flex-direction: column;
	padding: 16px;
}

.q-card-answer {
	flex-direction: row;
}
.answers {
	width: 30px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid rgb(104, 97, 97);
	margin: 6px;
}

.tableButton {
	width: 160px;
	height: 70px;
	background-color: green;
	color: white;
	font-size: 24px;
	font-weight: bold;
	border-radius: 20px;
	border: none;
}
